services:
  - type: web
    name: hummingbird-agent
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.13
    plan: free